<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../../public/css/application.css">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="../../public/js/application.js"></script>

<title>JS-Racer!</title>
</head>
<body>
<h1>JavaScript Racer!</h1>
<form id="player_names" method="post" action="/players">
    <input type="text" name="player 1" placeholder="Player 1"><br>
    <input type="text" name="player 2" placeholder="Player 2"><br>
    <input type="submit" value="Submit">
</form>

<p>Hit "space" to move player 1 Hit "enter" to move player 2</p><br>
<table class="racer_table">
  <tr id="player-strip-1">
    <td id="1" class="active1"></td>
    <td id="2" ></td>
    <td id="3" ></td>
    <td id="4" ></td>
    <td id="5" ></td>
    <td id="6" ></td>
    <td id="7" ></td>
    <td id="8" ></td>
    <td id="9" ></td>
    <td id="10" class = "finish"></td>
  </tr>
  <tr id="median"></tr>
  <tr id="player-strip-2">
    <td id="11" class="active2"></td>
    <td id="12" ></td>
    <td id="13" ></td>
    <td id="14" ></td>
    <td id="15" ></td>
    <td id="16" ></td>
    <td id="17" ></td>
    <td id="18" ></td>
    <td id="19" ></td>
    <td id="20" class = "finish"></td>
  </tr>
</table>

</body>
</html>